body {
    padding: 10px;
}

header {
    padding: 10px;
    border: 1px solid #ccc;
    background: #f2f2f2;
}

nav {
    padding: 10px;
    border: 1px solid red;
    background: #f2f2f2;
}

article {
    padding: 10px;
    background: lightgray;
}

section {
    border: 1px dotted white;
}

aside {
    background: lightblue;
}

footer {
    padding: 2px;
    color: white;
    background: gray;
}
